@charset "UTF-8";

* {
  /*　「＊」ユニバーサルセレクタ：全部適用します*/
  box-sizing: border-box; /* border-box:一致性を確保 */
}

/*==========================
  基本設定
==========================*/
body {
  font-family: '游明朝体', 'Yu Mincho', 'Yu Mincho Demibold', serif;
  background-image: url(../images/background.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #171a0f;
  margin: auto auto; /* 移除默认边距 */
  padding: 0; /* 移除默认填充 */
  width: 100%;
  min-width: 1200px;
}

/*------------------------------
    全ページ共通設定
------------------------------*/
/*ヘッダ*/
.bgm {
  width: 60px;
  top: 111px;
  right: 0px;
  z-index: 1000;
  position: absolute;
  background-color: #00bfff;
}
.header_wrapper {
  border-bottom: 2px solid red;
  background-color: white;
  background-size: 100%;
  width: 100%;
  height: 120px;
  align-items: center;
  display: flex;
}
.header_logo {
  display: flex;
}
.header_logo img {
  margin-left: 25px;
  margin-top: 5px;
}
.header_logo2 img {
  margin-left: 25px;
  margin-top: 15px;
}
.user {
  margin-left: 250px;
  top: -7px;
  position: absolute;
  z-index: 100000;
  font-size: small;
}
.header_nav {
  width: 100%;
  z-index: 3;
}
.header_nav ul {
  display: flex;
  justify-content: end;
}
.header_nav ul li {
  margin: 30px;
  list-style-type: none;
  transition: background-color 0.5s, color 0.5s;
}
.header_nav ul li a {
  color: #171a0f;
  padding: 15px 10px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  position: relative; /* 让伪元素基于父元素定位 */
}

.header_nav ul li a:hover {
  color: #00bfff;
  transition: background-color 0.5s, color 1s;
  border-radius: 20px;
}

.header_nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00bfff;
  transition: width 0.5s ease;
}

.header_nav ul li a:hover::after {
  width: 100%;
}
/*------------------------------
    HOME(index.html)
------------------------------*/
.mainvisual {
  margin: 0 auto;
  top: 20px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  background-image: url(../images/mainvisual3.jpg);
}
.mainvisual img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -32px;
}
.mainvisual::before {
  content: '';
  position: absolute;
  left: 0;
  top: -31px;
  width: 100%;
  height: 104%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.mainvisual .red-line-top::before {
  content: '';
  position: absolute;
  top: -32px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: red;
}
.mainvisual::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.5px;
  height: 2px;
  background-color: red;
}
.banner {
  align-items: center;
  display: flex;
  justify-content: right;
}

/*メインエリア*/
.main_contents {
  position: absolute;
  text-align: center;
  padding: 120px 100px 400px;
  border-radius: 10px;
  max-width: 1200px;
  margin: -500px auto;
  left: 25%;
  top: 90px;
  z-index: 2;
  margin: -50px;
}
.intro_text p {
  font-size: 40px;
  line-height: 1.6;
  color: white;
  margin: -20px;
  text-shadow: 2px 2px 4px #000000;
  font-size: 2vw;
}
.word {
  font-size: larger;
}

.monji {
  width: 500px;
}
.syokai {
  text-align: center;
}
.intro2 {
  width: 800px;
  height: 400px;
  margin: auto auto;
}
.intro2 p {
  font-size: 35px;
  color: #ccf2ff;
  text-shadow: 2px 2px 4px #000000;
  width: 900px;
  padding: 20px;
  background-color: rgba(0, 77, 102, 0.5);
  border-radius: 20px;
}
.introimg {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
  padding: 30px;
}
.image-flow {
  display: flex;
  width: calc(150%);
  animation: flow 30s linear infinite;
}
.kage {
  width: 600px; /*大小*/
  height: auto;
  margin: 0;
}
@keyframes flow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*フッター*/
.footer {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.footer nav {
  width: 100%;
}
.footer nav ul {
  margin: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer nav ul li {
  margin: 0 20px;
}
.footer nav ul li a {
  color: #00bfff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.footer nav ul li a:hover {
  color: #d1d6c0;
  transition: 0.5s;
}
.footer_copyright {
  color: #00bfff;
}
.camp {
  display: flex;
  justify-content: right;
  align-items: right;
  margin-top: -200px;
  float: right;
}
.camp img {
  margin: 5px;
  width: 220px;
}
/*------------------------------
    STORY
------------------------------*/
.titles {
  color: #00bfff;
  text-align: center;
  font-size: 50px;
}
.movie {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 1400px;
  margin: auto;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 20px;
}
.story01 {
  justify-items: center;
  margin: 20px;
}
.story01 span {
  font-size: 40px;
}
.movie p {
  color: #ccf2ff;
  font-size: 25px;
}
.movie img {
  width: 70%;
  border-radius: 20px;
}
.youtube {
  display: flex; /* 使用Flexbox布局 */
  justify-content: center; /* 水平居中 */
  margin: 50px;
}
/*------------------------------
    CHARACTER
------------------------------*/
.charas {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #00bfff;
  border-left: 10px solid #00bfff;
  justify-content: center;
  display: flex;
}
.charas img {
}
.name {
  color: #ccf2ff;
  font-size: 25px;
}
.name1 {
  font-size: 40px;
}
.charas {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #00bfff;
  border-left: 10px solid #00bfff;
  justify-content: center;
  display: flex;
}

.charas2 {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #f88fff;
  border-left: 10px solid #f88fff;
  justify-content: center;
  display: flex;
}

.charas3 {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #949bf7;
  border-left: 10px solid #949bf7;
  justify-content: center;
  display: flex;
}

.charas4 {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #cfd6d6;
  border-left: 10px solid #cfd6d6;
  justify-content: center;
  display: flex;
}

.charas5 {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #f288a4;
  border-left: 10px solid #f288a4;
  justify-content: center;
  display: flex;
}

.charas6 {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #ce8998;
  border-left: 10px solid #ce8998;
  justify-content: center;
  display: flex;
}

.charas7 {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #faf6a6;
  border-left: 10px solid #faf6a6;
  justify-content: center;
  display: flex;
}

.charas8 {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #91f1d8;
  border-left: 10px solid #91f1d8;
  justify-content: center;
  display: flex;
}

.charas9 {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #f2f4f2;
  border-left: 10px solid #f2f4f2;
  justify-content: center;
  display: flex;
}

.charas10 {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #faba80;
  border-left: 10px solid #faba80;
  justify-content: center;
  display: flex;
}

.charas11 {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #c8bea3;
  border-left: 10px solid #c8bea3;
  justify-content: center;
  display: flex;
}

.charas12 {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #73fd59;
  border-left: 10px solid #73fd59;
  justify-content: center;
  display: flex;
}

.charas13 {
  padding: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1250px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
  border-right: 10px solid #e55953;
  border-left: 10px solid #e55953;
  justify-content: center;
  display: flex;
}
